
.DS_Store
.httr-oauth
.Rapp.history
.Rdata
.RData
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
*_cache/
*-Ex.R
*.knit.md
*.utf8.md
*Outputs
/*.Rcheck/
/*.tar.gz
/cache/
/doc/
/Meta/
# Example code in package build process
# History files
# knitr and R markdown default cache directories
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# produced vignettes
# R Environment Variables
# RStudio files
# Session Data files
# Specific dirs
# Specific files
# Temporary files created by R markdown
# User-specific files
docs
inst/doc
test.R
vignettes/*.html
vignettes/*.pdf
